[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
guildwars2-api-client = "*"
click = "*"
coverage = "*"
requests = "*"
tensorflow = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
test = "coverage run -m unittest discover"
coverage = "coverage report --skip-covered --omit 'tests/*'"
coverage-json = "coverage json --omit 'tests/*' --pretty-print -o coverage.json"
